body {
    background-color: #eee;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/03/62/59/2357aaf48ea608e.jpg);
    text-align: center;
    background-size: cover;
}

button {
    background-color: rgba(0,0,0,0);
    outline: none;
}

h1 {
    margin-bottom: 10px;
    color: rgb(255, 0, 0);
}

.btn {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input {
    width: 100%;
    padding: 5px 14px;
    border: 2px solid #a36f05;
    margin-bottom: 10px;
    background-color: rgba(42, 241, 232, 0.4);
    outline: none;
    color: black;
    font-size: 14px;
}

input:focus {
    border: 2px solid rgba(0,0,0,.4);
    background-color: white;
}

form {
    background-color: #00f7cd;
    background: transparent;
    padding: 20px;
    color: black;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}

form p {
    margin-bottom: 5px;
}

form p:nth-child(1){
    margin-top: 0;
}

.panel {
    margin-top: 20px;
    float: none;
}

@media (min-width: 768px) {
    .panel {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) {
    .panel {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}